In [1]:
# ref: https://gist.github.com/amotl/8727ea2aa6e46c5b51a34c28b767d72c
import pandas as pd

df = pd.DataFrame(
        {
            "station_id": pd.Categorical(["00001"]),
            #"date": [pd.Timestamp("1970-01-01").tz_localize("UTC")],
            "date": [pd.Timestamp("1970-01-01")],
            "qn": pd.Series([1], dtype=pd.Int64Dtype()),
            "rs_indicator": pd.Series([1], dtype=pd.Int64Dtype()),
            "label": pd.Series(["P"], dtype=pd.StringDtype()),
        }
    )


def pandas_to_sql(dburi):
    df.to_sql(
        con=dburi,
        name="testdrive",
        if_exists="replace",
        index=False,
        #method="multi",
        chunksize=5000,
    )

In [2]:
df

  station_id       date  qn  rs_indicator label
0      00001 1970-01-01   1             1     P

In [3]:
pandas_to_sql(dburi="postgresql://postgres@localhost/dwd")